{% extends "base.html" %}

{% block lab %}Лабораторная работа 2.{% endblock %}

{% block main %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1.css') }}">
    <h1>Мультфильмы:</h1>
    <h2>Мультфильм №1: Новые приключения медвежонка винни и его друзей</h2>
    <img src="{{ url_for('static', filename = '1.jpg') }}">
    <div>
        <h2>Винни Пух</h2>
        <p> 
            Кто такой Винни Пух, знают все. Этот мультфильм производства компании Уолта 
            Диснея основан на оригинальных иллюстрациях четырехтомного собрания о Винни Пухе Эрнеста Шепарда. 
            Познакомьтесь с Винни Пухом, каким его видят англоязычные ценители и который, конечно, отличается от 
            русской версии Бориса Заходера.
        </p>
    </div>

    <h2>Мультфильм №2: Малыш и Карлсон</h2>
    <img src="{{ url_for('static', filename = '2.jpg') }}">
    <div>
        <h2>Карлсон</h2>
        <p> 
            Всем известная история Малыша (который очень хотел собаку) и его друга, Карлсона, который живет на крыше.
        </p>
    </div>

    <h2>Мультфильм №3</h2>
    <img src="{{ url_for('static', filename = '3.jpg') }}">
    <div>
        <h2>Смешарики</h2>
        <p> 
            Истории о дружбе и приключениях обаятельных круглых героев. Весёлые и музыкальные, неожиданные и 
            мечтательные, домашние и авантюрные. Целый мир в одной уютной ромашковой долине.
    </div>

    <h2>Мультфильм №4</h2>
    <img src="{{ url_for('static', filename = '4.jpg') }}">
    <div>
        <h2>Ральф</h2>
        <p> 
            Всем известная история Малыша (который очень хотел собаку) и его друга, Карлсона, который живет на крыше.
        </p>
    </div>

    <h2>Мультфильм №5</h2>
    <img src="{{ url_for('static', filename = '5.jpg') }}">
    <div>
        <h2>Дом</h2>
        <p> 
            Захватив Землю, раса пришельцев Був тут же начинает заниматься её благоустройством и реорганизацией. «Не стоит благодарности!» - 
            заявляют они землянам, собранным на время в отдельных резервациях. Находчивая и рисковая девочка по имени Дар, чудом сбежавшая от 
            пришельцев, встречает на своем пути самого раздражающе-оптимистичного Бува по имени О, отвергнутого своими инопланетными собратьями. 
            Этой, казалось бы, несовместимой парочке предстоит спасти нашу планету. Хорошо, что у них есть летающий автомобиль!
        </p>
    </div>

{% endblock %}
