{% extends "base.html" %}

{% block lab %}Лабораторная работа 5.{% endblock %}

{% block main %}

<head>
    <title>Главная страница</title>
    <style>
        body {
            padding: 20px;
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
        }
        .links {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .links a {
            margin: 0 10px;
        }
        .username {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>База знаний</h1>
    
    <div class="links">
        <a href="/lab5/articles">Просмотр заметок</a>
        <a href="/lab5/new_article">Создание заметок</a>
        <a href="/lab5/login2">Ссылка для логина</a>
        <a href="/lab5/register">Ссылка для регистрации</a>
    </div>
</body>

{% endblock %}