{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}
<head>
    <title>Главная страница</title>
</head>

<h1>База знаний</h1>

<div>
    <a href="/lab5/articles">Посмотреть заметки</a>
</div>

<div>
    <a href="/lab5/new_article">Создать заметки</a>
</div>
            
<form action="/lab5/login2">
    <button type="submit">Авторизация</button>
</form>

<form action="/lab5/register">
    <button type="submit">Регистрация</button>
        
{% if username %}
    <div>
        {{ username }}
    </div>
{% else %}
    <div>
        Anon
    </div>
{% endif %}
    
<h1>Новая заметка</h1>

    
<form method="POST" style="display: block;">
    <div>
        <input type="text"name="article_title" placeholder="Название статьи">
    </div> 
                
    <div>                                                                                              
        <textarea name="article_text" placeholder="Текст статьи" rows="20" style="width: 300px; margin-top: 15px; margin-bottom: 20px;"></textarea>
    </div>

    <div>
        <input type="submit" value="Apply"/>
    </div>
</form>

{% endblock %} 
