{% extends "base.html" %}

{% block lab %} Лабораторная работа 6 {% endblock %}

{% block main %}
    <h1>
        База знаний
    </h1>
        <div>
            <a href="/lab6/articles">Посмотреть заметки</a>
        </div>

        <div class="header-url-cre">
            <a href="/lab6/newarticle">Создать заметки</a>
        </div>
        
        <form action="/lab6/login">
            <button type="submit">Логин</button>
        </form>

        <form action="/lab6/register">
            <button type="submit">Регистрация</button>
        </form>

        <form action="/lab6/logout">
            <button type="submit">Выйти</button>
        </form>

        {% if current_user.username %}
            <div>
                {{ current_user.username}}
            </div>
        {% else %}
            <div>Anon</div>
        {% endif %}


    <h1>Новая заметка</h1>

<form method="post" style="display: block;">
    <div>
        <input type="text" name="article_title" placeholder="Название статьи">
    </div> 
    <div>                                                                                              
        <textarea name="article_text" placeholder="Текст статьи" rows="20" style="width: 300px; margin-top: 15px;
        margin-bottom: 20px;"></textarea>
    </div>
    <div>
        <input type="submit" value="Apply"/>
    </div>
</form>
{% endblock %} 
